# dependencies
node_modules

# testing
coverage

# production
build

# env settings
env.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# tensorfolow checkpoint coco model
ssd_mobilenet_v1_coco_2018_01_28/*

# captured photos
tensorflow/daisy_detection/capture/daisy/*.jpg